body {
    background: #00334b;
    color: #fff;
}
ul{
    padding: 0px;
    list-style: none;
}
input{
    border: none;
}

.msg {
    text-align: center;
    background: #ffe264;
    padding: 10px;
    color: #333;
    display: none;
}

.add-task{
    overflow: hidden;
    width:82%;
    margin: auto;
}
.add-task input[type=text] {
    float: left;
    width: 80%;
    margin-right: 1%;
    display: block;
    background: #ddd;
    border: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    padding: 10px;
    border-radius: 3px;
}
.add-task button{
    float: left;
    background: #46b1e4;
    border: none;
    cursor: pointer;
    color: #333;
    width: 120px;
    padding: 10px;
    border-radius: 3px;
}

.contanier{
    max-width: 900px;
    margin: auto;
}
.contanier > h1{
    text-align: center;
    margin: 80px 0 30px 0px;
    font-size: 40px;
    color: #fff;
    font-weight: normal;
}
.contanier .complete{
    float: left;
    margin-top: 4px;
}
.contanier .fr{
    float: right;
}
.contanier .fr .action {
    color: #888;
    font-size: 90%;
}
.contanier .task-list{
    position: relative;
}
.contanier .task-item {
    background: #fff;
    color: #333;
    margin-bottom: 2px;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    width:80%;
    margin: 3px auto;
}
.contanier .task-content {
    margin-left: 10px;
}

.task-detail {
    background: #fff;
    overflow: auto;
    color: #333;
    width:300px;
    height: 322px;
    padding: 10px;
    bottom: 20%;
    right: 0px;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .1);
    position: absolute;
    /*  display: none; */
}
.task-detail .colse{
    font-family: "微软雅黑";
    font-size: 20px;
    color: #000;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.task-detail .colse:hover{
    color: red;
}
.task-detail .content {
    font-weight: 900;
    cursor: pointer;
}
.task-detail .input-item{
    margin-bottom: 20px;
}
.task-detail .datetime{
    height: 40px;
}
textarea {
    min-height: 100px;
    border:none;
    resize: none;
}
textarea, input[type=text], input[type=date] {
    width: 100%;
    display: block;
    background: #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
}
.task-detail button{
    float: left;
    background: #46b1e4;
    border: none;
    cursor: pointer;
    color: #333;
    width: 106px;
    padding: 10px;
    border-radius: 3px;
}

.task-detail-mask{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(30, 30, 30, .6);
    /*  display: none;*/
}
.task-item.completed{
    opacity: 0.4;
}
.task-item.completed:after {
    content: " ";
    height: 1px;
    background: #aaa;
    width: 96%;
    position: relative;
    top: -8px;
    display: block;
    float: right;
}
.alerter {
    width: 0;
    height: 0;
}
.task-detail .input-item.dbtext{
    display: none;
}

.contanier .task-list .task-item.is_complate{
    opacity: 0.4;
}
.contanier .task-list .task-item.is_complate:after{
    content: "";
    display: block;
    width:100%;
    height:1px;
    background: #000;
    position: relative;
    top:-10px;
}
.msg{
    display: none;
}